<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Main page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Compiled and minified CSS -->
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<!-- Compiled and minified JavaScript -->
   	 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </head>
    <body class="green lighten-3">
	<div class="right-align">
		<a class="waves-effect waves-light btn-small green darken-1" href='./Logout'>Log out</a>
		<a class="waves-effect waves-light btn-small green lighten-3" href='./About'>About</a>
		
	</div>
		<div class="row">
			<div class="col s10">
				<div class="card green darken-1">
					<div class="card-content white-text">
						<span class="card-title">IMPORTANT NOTE</span>
	   						 <p>In the exercises where you have to write a full sentence, start it with capital letter and finish it with a '.', a '?' or a '!'. Otherwise, it might be corrected as a wrong sentence.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12">
				<div class="card green">
					<div class="card-content white-text">
						<span class="card-title">Exercises</span>
						<div class="card-action white-text">
								<a class="white-text" href='./Ex1' target="_blank"><u>Exercise 1</u></a>
            					<a class="white-text" href='./Ex2' target="_blank"><u>Exercise 2</u></a> 
						        <a class="white-text" href='./Ex3' target="_blank"><u>Exercise 3</u></a> 
						        <a class="white-text" href='./Ex4' target="_blank"><u>Exercise 4</u></a> 
						        <a class="white-text" href='./Ex5' target="_blank"><u>Exercise 5</u></a> 
						        <a class="white-text" href='./Ex6' target="_blank"><u>Exercise 6</u></a> 
						        <a class="white-text" href='./Ex7' target="_blank"><u>Exercise 7</u></a> 
						        <a class="white-text" href='./Ex8' target="_blank"><u>Exercise 8</u></a> 
						</div>
					</div>
				</div>
			</div>
		   </div>
		   
		<div class="row">
			<div class="col s12">
				<div class="card green">
					<div class="card-content white-text">
						<span class="card-title">Vocabulary/Verbs</span>
						<div class="card-action white-text">
            					<a class="white-text" href='./Vocabulary1' target="_blank"><u>Vocabulary 1</u></a> 
								<a class="white-text" href='./Vocabulary2' target="_blank"><u>Vocabulary 2</u></a> 
								<a class="white-text" href='./Vocabulary3' target="_blank"><u>Vocabulary 3</u></a> 
								<a class="white-text" href='./Vocabulary4' target="_blank"><u>Vocabulary 4</u></a>
								<a class="white-text" href='./Vocabulary5' target="_blank"><u>Vocabulary 5</u></a>
								<a class="white-text" href='./Verbs1' target="_blank"><u>Verbs 1</u></a> 
								<a class="white-text" href='./Verbs2' target="_blank"><u>Verbs 2</u></a> 
								<a class="white-text" href='./Verbs3' target="_blank"><u>Verbs 3</u></a>  
								<a class="white-text" href='./Verbs4' target="_blank"><u>Verbs 4</u></a>  
						</div>
					</div>
				</div>
			</div>
		   </div>
		   
    </body>
</html>
