<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Verbs 4</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </head>
    <body class="amber lighten-3">
        <div class="container s4 centered">
			<p class="flow-text">Verbs 4. Irregular verbs (III)</p>
			<div class="container s4 centered">
                <table class="stripped amber lighten-1">
                    <thead>
                        <tr>
                            <th>Present</th>
                            <th>Past Simple</th>
                            <th>Past Participle</th>
                            <th>Spanish</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Spread</td>
                            <td>Spread</td>
                            <td>Spread</td>
                            <td>Extender</td>
                        </tr>
                        <tr>
                            <td>Stand</td>
                            <td>Stood</td>
                            <td>Stood</td>
                            <td>Estar de pir</td>
                        </tr>
                        <tr>
                            <td>Steal</td>
                            <td>Stole</td>
                            <td>Stolen</td>
                            <td>Robar</td>
                        </tr>
                        <tr>
                            <td>Stick</td>
                            <td>Stuck</td>
                            <td>Stuck</td>
                            <td>Pegar</td>
                        </tr>
                        <tr>
                            <td>Sting</td>
                            <td>Stung</td>
                            <td>Stung</td>
                            <td>Picar</td>
                        </tr>
                        <tr>
                            <td>Strike</td>
                            <td>Struk</td>
                            <td>Striken</td>
                            <td>Golpear</td>
                        </tr>
                        <tr>
                            <td>Swear</td>
                            <td>Swore</td>
                            <td>Sworn</td>
                            <td>Jurar</td>
                        </tr>
                        <tr>
                            <td>Sweat</td>
                            <td>Sweat</td>
                            <td>Sweat</td>
                            <td>Sudar</td>
                        </tr>
                        <tr>
                            <td>Sweep</td>
                            <td>Swept</td>
                            <td>Swept</td>
                            <td>Barrer</td>
                        </tr>
                        <tr>
                            <td>Swim</td>
                            <td>Swam</td>
                            <td>Swum</td>
                            <td>Nadar</td>
                        </tr>
                        <tr>
                            <td>Take</td>
                            <td>Took</td>
                            <td>Taken</td>
                            <td>Coger</td>
                        </tr>
                        <tr>
                            <td>Teach</td>
                            <td>Taught</td>
                            <td>Taught</td>
                            <td>Ensenar</td>
                        </tr>
                        <tr>
                            <td>Tear</td>
                            <td>Tore</td>
                            <td>Torn</td>
                            <td>Desgarrar</td>
                        </tr><tr>
                            <td>Tell</td>
                            <td>Told</td>
                            <td>Told</td>
                            <td>Contar</td>
                        </tr><tr>
                            <td>Think</td>
                            <td>Thought</td>
                            <td>Thought</td>
                            <td>Pensar</td>
                        </tr>
                        <tr>
                            <td>Throw</td>
                            <td>Threw</td>
                            <td>Thrown</td>
                            <td>Lanzar</td>
                        </tr>
                        <tr>
                            <td>Understand</td>
                            <td>Understood</td>
                            <td>Understood</td>
                            <td>Entender</td>
                        </tr>
                        <tr>
                            <td>Undertake</td>
                            <td>Undertook</td>
                            <td>Undertaken</td>
                            <td>Emprender</td>
                        </tr>
                        <tr>
                            <td>Upset</td>
                            <td>Upset</td>
                            <td>Upset</td>
                            <td>Enojar</td>
                        </tr>
                        <tr>
                            <td>Wake</td>
                            <td>Woke</td>
                            <td>Waken</td>
                            <td>Despertar</td>
                        </tr>
                        <tr>
                            <td>Wear</td>
                            <td>Wore</td>
                            <td>Worn</td>
                            <td>Llevar puesto</td>
                        </tr>
                        <tr>
                            <td>Wet</td>
                            <td>Wet</td>
                            <td>Wet</td>
                            <td>Mojar</td>
                        </tr>
                        <tr>
                            <td>Win</td>
                            <td>Won</td>
                            <td>Won</td>
                            <td>Ganar</td>
                        </tr>
                        <tr>
                            <td>Wind</td>
                            <td>Wound</td>
                            <td>Wound</td>
                            <td>Enrollar</td>
                        </tr>
                        <tr>
                            <td>Write</td>
                            <td>Wrote</td>
                            <td>Written</td>
                            <td>Escribir</td>
                        </tr>  
                    </tbody>
                </table>
                <a class="waves-effect waves-light btn-large amber darken-2" href='/englishExercises/Verbs3' >Verbs 3</a>
                <a class="waves-effect waves-light btn-large amber darken-2" href='/englishExercises/Verbs1' >Verbs 1</a>
                <a class="waves-effect waves-light btn-large amber darken-2" href='/englishExercises' >Return to main page</a> 
            </div>
        </div>
    </body>
</html>
