<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Verbs 2</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </head>
    <body class="amber lighten-3">
        <div class="container s4 centered">
			<p class="flow-text">Verbs 2. Irregular verbs (I)</p>
			<div class="container s4 centered">
                <table class="stripped amber lighten-1">
                    <thead>
                        <tr>
                            <th>Present</th>
                            <th>Past Simple</th>
                            <th>Past Participle</th>
                            <th>Spanish</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Arise</td>
                            <td>Arose</td>
                            <td>Arisen</td>
                            <td>Surgir</td>
                        </tr>
                        <tr>
                            <td>Be</td>
                            <td>Was</td>
                            <td>Been</td>
                            <td>Ser/Estar</td>
                        </tr>
                        <tr>
                            <td>Bear</td>
                            <td>Bore</td>
                            <td>Born</td>
                            <td>Soportar/dar a luz</td>
                        </tr>
                        <tr>
                            <td>Beat</td>
                            <td>Beat</td>
                            <td>Beat</td>
                            <td>Golpear/vencer</td>
                        </tr>
                        <tr>
                            <td>Become</td>
                            <td>Became</td>
                            <td>Become</td>
                            <td>Llegar a ser</td>
                        </tr>
                        <tr>
                            <td>Begin</td>
                            <td>Began</td>
                            <td>Begun</td>
                            <td>Empezar</td>
                        </tr>
                        <tr>
                            <td>Bend</td>
                            <td>Bent</td>
                            <td>Bent</td>
                            <td>Doblar</td>
                        </tr>
                        <tr>
                            <td>Bet</td>
                            <td>Bet</td>
                            <td>Bet</td>
                            <td>Apostar</td>
                        </tr>
                        <tr>
                            <td>Bite</td>
                            <td>Bit</td>
                            <td>Bitten</td>
                            <td>Morder</td>
                        </tr>
                        <tr>
                            <td>Bleed</td>
                            <td>Bled</td>
                            <td>Bled</td>
                            <td>Sangrar</td>
                        </tr>
                        <tr>
                            <td>Blend</td>
                            <td>Blent</td>
                            <td>Blent</td>
                            <td>Mezclar</td>
                        </tr>
                        <tr>
                            <td>Bless</td>
                            <td>Blest</td>
                            <td>Blest</td>
                            <td>Bendecir</td>
                        </tr>
                        <tr>
                            <td>Blow</td>
                            <td>Blew</td>
                            <td>Blown</td>
                            <td>Soplar/Volar(detonar)</td>
                        </tr><tr>
                            <td>Break</td>
                            <td>Broke</td>
                            <td>Broken</td>
                            <td>Romper</td>
                        </tr><tr>
                            <td>Bring</td>
                            <td>Brought</td>
                            <td>Brought</td>
                            <td>Traer</td>
                        </tr>
                        <tr>
                            <td>Broadcast</td>
                            <td>Broadcast</td>
                            <td>Broadcast</td>
                            <td>Transmitir</td>
                        </tr>
                        <tr>
                            <td>Build</td>
                            <td>Built</td>
                            <td>Built</td>
                            <td>Construir</td>
                        </tr>
                        <tr>
                            <td>Burn</td>
                            <td>Burnt</td>
                            <td>Burnt</td>
                            <td>Quemar</td>
                        </tr>
                        <tr>
                            <td>Burst</td>
                            <td>Burst</td>
                            <td>Burst</td>
                            <td>Reventar</td>
                        </tr>
                        <tr>
                            <td>Buy</td>
                            <td>Bought</td>
                            <td>Bought</td>
                            <td>Comprar</td>
                        </tr>
                        <tr>
                            <td>Catch</td>
                            <td>Caught</td>
                            <td>Caught</td>
                            <td>Coger</td>
                        </tr>
                        <tr>
                            <td>Choose</td>
                            <td>Chose</td>
                            <td>Chosen</td>
                            <td>Escoger</td>
                        </tr>
                        <tr>
                            <td>Can</td>
                            <td>Could</td>
                            <td>Could</td>
                            <td>Poder</td>
                        </tr>
                        <tr>
                            <td>Creep</td>
                            <td>Crept</td>
                            <td>Crept</td>
                            <td>Arrastrarse</td>
                        </tr>
                        <tr>
                            <td>Come</td>
                            <td>Came</td>
                            <td>Come</td>
                            <td>Venir</td>
                        </tr>
                        <tr>
                            <td>Cost</td>
                            <td>Cost</td>
                            <td>Cost</td>
                            <td>Costar</td>
                        </tr>
                        <tr>
                            <td>Cut</td>
                            <td>Cut</td>
                            <td>Cut</td>
                            <td>Cortar</td>
                        </tr>
                        <tr>
                            <td>Deal</td>
                            <td>Dealt</td>
                            <td>Dealt</td>
                            <td>Tratar/Traficar</td>
                        </tr>
                        <tr>
                            <td>Dig</td>
                            <td>Dug</td>
                            <td>Dug</td>
                            <td>Cavar</td>
                        </tr>
                        <tr>
                            <td>Do</td>
                            <td>Did</td>
                            <td>Done</td>
                            <td>Hacer</td>
                        </tr>
                        <tr>
                            <td>Draw</td>
                            <td>Drew</td>
                            <td>Drawn</td>
                            <td>Dibujar</td>
                        </tr>
                        <tr>
                            <td>Dream</td>
                            <td>Dreamt</td>
                            <td>Dreamt</td>
                            <td>Sonar</td>
                        </tr>
                        <tr>
                            <td>Drink</td>
                            <td>Drank</td>
                            <td>Drunk</td>
                            <td>Beber</td>
                        </tr>
                        <tr>
                            <td>Drive</td>
                            <td>Drove</td>
                            <td>Driven</td>
                            <td>Conducir</td>
                        </tr>
                        <tr>
                            <td>Eat</td>
                            <td>Ate</td>
                            <td>Eaten</td>
                            <td>Comer</td>
                        </tr>
                        <tr>
                            <td>Fall</td>
                            <td>Fell</td>
                            <td>Fallen</td>
                            <td>Caer</td>
                        </tr>
                        <tr>
                            <td>Feed</td>
                            <td>Fed</td>
                            <td>Fed</td>
                            <td>Alimentar</td>
                        </tr>
                        <tr>
                            <td>Feel</td>
                            <td>Felt</td>
                            <td>Felt</td>
                            <td>Sentir</td>
                        </tr>
                        <tr>
                            <td>Fight</td>
                            <td>Fought</td>
                            <td>Fought</td>
                            <td>Luchar</td>
                        </tr>
                        <tr>
                            <td>Find</td>
                            <td>Found</td>
                            <td>Fount</td>
                            <td>Encontrar</td>
                        </tr>
                        <tr>
                            <td>Fly</td>
                            <td>Flew</td>
                            <td>Flown</td>
                            <td>Volar</td>
                        </tr>
                        <tr>
                            <td>Forbid</td>
                            <td>Forbade</td>
                            <td>Forbidden</td>
                            <td>Prohibir</td>
                        </tr>
                        <tr>
                            <td>Forecast</td>
                            <td>Forecast</td>
                            <td>Forecast</td>
                            <td>Pronosticar</td>
                        </tr>
                        <tr>
                            <td>Foresee</td>
                            <td>Foresaw</td>
                            <td>Foreseen</td>
                            <td>Preveer</td>
                        </tr>
                        <tr>
                            <td>Foretell</td>
                            <td>Foretold</td>
                            <td>Foretold</td>
                            <td>Predecir</td>
                        </tr>
                        <tr>
                            <td>Forget</td>
                            <td>Forgot</td>
                            <td>Forgotten</td>
                            <td>Olvidar</td>
                        </tr>
                        <tr>
                            <td>Forgive</td>
                            <td>Forgave</td>
                            <td>Forgiven</td>
                            <td>Perdonar</td>
                        </tr>
                        <tr>
                            <td>Freeze</td>
                            <td>Froze</td>
                            <td>Frozen</td>
                            <td>Congelar</td>
                        </tr>
                        <tr>
                            <td>Get</td>
                            <td>Got</td>
                            <td>Got</td>
                            <td>Recibir</td>
                        </tr>
                        <tr>
                            <td>Give</td>
                            <td>Gave</td>
                            <td>Given</td>
                            <td>Dar</td>
                        </tr>
                        <tr>
                            <td>Go</td>
                            <td>Went</td>
                            <td>Gone</td>
                            <td>Ir</td>
                        </tr>
                        <tr>
                            <td>Grow</td>
                            <td>Grew</td>
                            <td>Grown</td>
                            <td>Crecer</td>
                        </tr>
                        <tr>
                            <td>Hang</td>
                            <td>Hung</td>
                            <td>Hung</td>
                            <td>Colgar</td>
                        </tr>
                        <tr>
                            <td>Have</td>
                            <td>Had</td>
                            <td>Had</td>
                            <td>Tener</td>
                        </tr>
                        <tr>
                            <td>Hear</td>
                            <td>Heard</td>
                            <td>Heard</td>
                            <td>Escuchar</td>
                        </tr>
                        <tr>
                            <td>Hide</td>
                            <td>Hid</td>
                            <td>Hidden</td>
                            <td>Esconder</td>
                        </tr>
                        <tr>
                            <td>Hit</td>
                            <td>Hit</td>
                            <td>Hit</td>
                            <td>Pegar</td>
                        </tr>
                       
                    </tbody>
                </table>
                <a class="waves-effect waves-light btn-large amber darken-2" href='/englishExercises/Verbs1' >Verbs 1</a>
                <a class="waves-effect waves-light btn-large amber darken-2" href='/englishExercises/Verbs3' >Verbs 3</a>
                <a class="waves-effect waves-light btn-large amber darken-2" href='/englishExercises' >Return to main page</a> 
            </div>
        </div>
    </body>
</html>
