<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Verbs 1</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </head>
    <body class="amber lighten-3">
        <div class="container s4 centered">
			<p class="flow-text">Verbs 1</p>
			<div class="container s4 centered">
                <table class="stripped amber lighten-1">
                    <thead>
                        <tr>
                            <th>English</th>
                            <th>Spanish</th>
                            <th>English</th>
                            <th>Spanish</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Apply for a job</td>
                            <td>Solicitar un trabajo</td>
                            <td>Claim benefits</td>
                            <td>Reclamar beneficios</td>
                        </tr>
                        <tr>
                            <td>Do a course</td>
                            <td>Estudiar un curso</td>
                            <td>Do a degree</td>
                            <td>Estudiar una carrera</td>
                        </tr>
                        <tr>
                            <td>Do an assignment</td>
                            <td>Hacer una tarea</td>
                            <td>Do business</td>
                            <td>Hacer negocios</td>
                        </tr>
                        <tr>
                            <td>Drop out (of university)</td>
                            <td>Dejar (la universidad)</td>
                            <td>Get a job</td>
                            <td>Conseguir trabajo</td>

                        </tr>
                        <tr>
                            <td>Get fired</td>
                            <td>Ser despedido</td>
                            <td>Get paid</td>
                            <td>Cobrar</td>
                        </tr>
                        <tr>
                            <td>Get good/bad grades</td>
                            <td>Tener buenas/malas notas</td>
                            <td>Get promoted</td>
                            <td>Recibir un ascenso</td>
                        </tr>
                        <tr>
                            <td>Graduate (from university)</td>
                            <td>Graduarse (en la universidad)</td>
                            <td>Leave school</td>
                            <td>Dejas el colegio</td>
                        </tr>
                        <tr>
                            <td>Pass an exam</td>
                            <td>Aprobar un examen</td>
                            <td>Pass with flying colours</td>
                            <td>Aprobar con méritos (sobrado)</td>
                        </tr>
                        <tr>
                            <td>Fail a test</td>
                            <td>Suspender un examen</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <a class="waves-effect waves-light btn-large amber darken-2" href='/englishExercises/Verbs4' >Verbs 4</a>
                <a class="waves-effect waves-light btn-large amber darken-2" href='/englishExercises/Verbs2' >Verbs 2</a>
                <a class="waves-effect waves-light btn-large amber darken-2" href='/englishExercises' >Return to main page</a> 
            </div>
        </div>
    </body>
</html>
