<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Verbs 3</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </head>
    <body class="amber lighten-3">
        <div class="container s4 centered">
			<p class="flow-text">Verbs 3. Irregular verbs (II)</p>
			<div class="container s4 centered">
                <table class="stripped amber lighten-1">
                    <thead>
                        <tr>
                            <th>Present</th>
                            <th>Past Simple</th>
                            <th>Past Participle</th>
                            <th>Spanish</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Hold</td>
                            <td>Held</td>
                            <td>Held</td>
                            <td>Agarrarse</td>
                        </tr>
                        <tr>
                            <td>Hurt</td>
                            <td>Hurt</td>
                            <td>Hurt</td>
                            <td>Herir</td>
                        </tr>
                        <tr>
                            <td>Keep</td>
                            <td>Kept</td>
                            <td>kept</td>
                            <td>Mantener</td>
                        </tr>
                        <tr>
                            <td>Kneel</td>
                            <td>Knelt</td>
                            <td>Knelt</td>
                            <td>Arrodillarse</td>
                        </tr>
                        <tr>
                            <td>Know</td>
                            <td>Knew</td>
                            <td>Known</td>
                            <td>Conocer</td>
                        </tr>
                        <tr>
                            <td>Lay</td>
                            <td>Laid</td>
                            <td>Laid</td>
                            <td>Situar</td>
                        </tr>
                        <tr>
                            <td>Lead</td>
                            <td>Led</td>
                            <td>Led</td>
                            <td>Guiar</td>
                        </tr>
                        <tr>
                            <td>Lean</td>
                            <td>Leant</td>
                            <td>Leant</td>
                            <td>Apoyarse</td>
                        </tr>
                        <tr>
                            <td>Learn</td>
                            <td>Learnt</td>
                            <td>Learnt</td>
                            <td>Aprender</td>
                        </tr>
                        <tr>
                            <td>Leave</td>
                            <td>Left</td>
                            <td>Left</td>
                            <td>Dejar/marcharse</td>
                        </tr>
                        <tr>
                            <td>Lend</td>
                            <td>Lent</td>
                            <td>Lent</td>
                            <td>Prestar</td>
                        </tr>
                        <tr>
                            <td>Let</td>
                            <td>Let</td>
                            <td>Let</td>
                            <td>Dejar</td>
                        </tr>
                        <tr>
                            <td>Lie</td>
                            <td>Lay</td>
                            <td>Lain</td>
                            <td>Tumbarse</td>
                        </tr><tr>
                            <td>Light</td>
                            <td>Lit</td>
                            <td>Lit</td>
                            <td>Encender</td>
                        </tr><tr>
                            <td>Lose</td>
                            <td>Lost</td>
                            <td>Lost</td>
                            <td>Perder</td>
                        </tr>
                        <tr>
                            <td>Make</td>
                            <td>Made</td>
                            <td>Made</td>
                            <td>Hacer</td>
                        </tr>
                        <tr>
                            <td>Mean</td>
                            <td>Meant</td>
                            <td>Meant</td>
                            <td>Significar</td>
                        </tr>
                        <tr>
                            <td>Meet</td>
                            <td>Met</td>
                            <td>Met</td>
                            <td>Conocer/Quedar</td>
                        </tr>
                        <tr>
                            <td>Melt</td>
                            <td>Melted</td>
                            <td>Molten</td>
                            <td>Fundir</td>
                        </tr>
                        <tr>
                            <td>Mislead</td>
                            <td>Misled</td>
                            <td>Misled</td>
                            <td>Despistar</td>
                        </tr>
                        <tr>
                            <td>Mistake</td>
                            <td>Mistook</td>
                            <td>Mistaken</td>
                            <td>Equivocar</td>
                        </tr>
                        <tr>
                            <td>Misunderstand</td>
                            <td>Misunderstood</td>
                            <td>Misunderstood</td>
                            <td>Entender mal</td>
                        </tr>
                        <tr>
                            <td>Overcome</td>
                            <td>Overcame</td>
                            <td>Overcome</td>
                            <td>Vencer/superar</td>
                        </tr>
                        <tr>
                            <td>Oversee</td>
                            <td>Oversaw</td>
                            <td>Overseen</td>
                            <td>Inspeccionar</td>
                        </tr>
                        <tr>
                            <td>Overtake</td>
                            <td>Overtook</td>
                            <td>Overtaken</td>
                            <td>Alcanzar</td>
                        </tr>
                        <tr>
                            <td>Overthrow</td>
                            <td>Overthrew</td>
                            <td>Overthrown</td>
                            <td>Derrocar</td>
                        </tr>
                        <tr>
                            <td>Pay</td>
                            <td>Paid</td>
                            <td>Paid</td>
                            <td>Pagar</td>
                        </tr>
                        <tr>
                            <td>Put</td>
                            <td>Put</td>
                            <td>Put</td>
                            <td>Poner</td>
                        </tr>
                        <tr>
                            <td>Read</td>
                            <td>Read</td>
                            <td>Read</td>
                            <td>Leer</td>
                        </tr>
                        <tr>
                            <td>Ride</td>
                            <td>Rode</td>
                            <td>Ridden</td>
                            <td>Montar</td>
                        </tr>
                        <tr>
                            <td>Ring</td>
                            <td>Rang</td>
                            <td>Rung</td>
                            <td>Sonar</td>
                        </tr>
                        <tr>
                            <td>Rise</td>
                            <td>Rose</td>
                            <td>Risen</td>
                            <td>Levantarse</td>
                        </tr>
                        <tr>
                            <td>Run</td>
                            <td>Ran</td>
                            <td>Run</td>
                            <td>Correr</td>
                        </tr>
                        <tr>
                            <td>Saw</td>
                            <td>Sawed</td>
                            <td>Sawn</td>
                            <td>Serrar</td>
                        </tr>
                        <tr>
                            <td>Say</td>
                            <td>Said</td>
                            <td>Said</td>
                            <td>Decir</td>
                        </tr>
                        <tr>
                            <td>See</td>
                            <td>Saw</td>
                            <td>Seen</td>
                            <td>Ver</td>
                        </tr>
                        <tr>
                            <td>Sell</td>
                            <td>Sold</td>
                            <td>Sold</td>
                            <td>Vender</td>
                        </tr>
                        <tr>
                            <td>Send</td>
                            <td>Sent</td>
                            <td>Sent</td>
                            <td>Enviar</td>
                        </tr>
                        <tr>
                            <td>Set</td>
                            <td>Set</td>
                            <td>Set</td>
                            <td>Colocar</td>
                        </tr>
                        <tr>
                            <td>Sew</td>
                            <td>Sewed</td>
                            <td>Sewn</td>
                            <td>Coser</td>
                        </tr>
                        <tr>
                            <td>Shake</td>
                            <td>Shook</td>
                            <td>Shaken</td>
                            <td>Agitar</td>
                        </tr>
                        <tr>
                            <td>Shine</td>
                            <td>Shone</td>
                            <td>Shone</td>
                            <td>Brillar</td>
                        </tr>
                        <tr>
                            <td>Shoot</td>
                            <td>Shot</td>
                            <td>Shot</td>
                            <td>Disparar</td>
                        </tr>
                        <tr>
                            <td>Show</td>
                            <td>Showed</td>
                            <td>Shown</td>
                            <td>Mostrar</td>
                        </tr>
                        <tr>
                            <td>Shut</td>
                            <td>Shut</td>
                            <td>Shut</td>
                            <td>Cerrar</td>
                        </tr>
                        <tr>
                            <td>Sing</td>
                            <td>Sang</td>
                            <td>Sung</td>
                            <td>Cantar</td>
                        </tr>
                        <tr>
                            <td>Sink</td>
                            <td>Sank</td>
                            <td>Sunk</td>
                            <td>Hundir</td>
                        </tr>
                        <tr>
                            <td>Sit</td>
                            <td>Sat</td>
                            <td>Sat</td>
                            <td>Sentar</td>
                        </tr>
                        <tr>
                            <td>Sleep</td>
                            <td>Slept</td>
                            <td>Slept</td>
                            <td>Dormir</td>
                        </tr>
                        <tr>
                            <td>Slide</td>
                            <td>Slid</td>
                            <td>Slidden</td>
                            <td>Resbalar</td>
                        </tr>
                        <tr>
                            <td>Smell</td>
                            <td>Smelt</td>
                            <td>Smelt</td>
                            <td>Oler</td>
                        </tr>
                        <tr>
                            <td>Speak</td>
                            <td>Spoke</td>
                            <td>Spoken</td>
                            <td>Hablar</td>
                        </tr>
                        <tr>
                            <td>Speed</td>
                            <td>Sped</td>
                            <td>Sped</td>
                            <td>Apresurar</td>
                        </tr>
                        <tr>
                            <td>Spill</td>
                            <td>Spilt</td>
                            <td>Spilt</td>
                            <td>Derramar</td>
                        </tr>
                        <tr>
                            <td>Spit</td>
                            <td>Spat</td>
                            <td>Spat</td>
                            <td>Escupir</td>
                        </tr>
                        <tr>
                            <td>Split</td>
                            <td>Split</td>
                            <td>Split</td>
                            <td>Dividir</td>
                        </tr>
                        <tr>
                            <td>Spoil</td>
                            <td>Spoilt</td>
                            <td>Spoilt</td>
                            <td>Estropear</td>
                        </tr>
                       
                    </tbody>
                </table>
                <a class="waves-effect waves-light btn-large amber darken-2" href='/englishExercises/Verbs2' >Verbs 2</a>
                <a class="waves-effect waves-light btn-large amber darken-2" href='/englishExercises/Verbs4' >Verbs 4</a>
                <a class="waves-effect waves-light btn-large amber darken-2" href='/englishExercises' >Return to main page</a> 
            </div>
        </div>
    </body>
</html>
