<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Vocabulary 3</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </head>
    <body class="amber lighten-3">
        <div class="container s4 centered">
			<p class="flow-text">Vocabulary 3</p>
			<div class="container s4 centered">
                <table class="stripped amber lighten-1">
                    <thead>
                        <tr>
                            <th>English</th>
                            <th>Spanish</th>
                            <th>English</th>
                            <th>Spanish</th>
                            <th>English</th>
                            <th>Spanish</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Lamb</td>
                            <td>Cordero</td>
                            <td>Napkin</td>
                            <td>Servilleta</td>
                            <td>Perhaps</td>
                            <td>Quizas</td>
                        </tr>
                        <tr>
                            <td>Rice</td>
                            <td>Arroz</td>
                            <td>Prune</td>
                            <td>Ciruela</td>
                            <td>Sausage</td>
                            <td>Salchicha</td>
                        </tr>
                        <tr>
                            <td>Strawberry</td>
                            <td>fresa</td>
                            <td>Spinach</td>
                            <td>Espinaca</td>
                            <td>Turkey</td>
                            <td>Pavo</td>
                        </tr>
                        <tr>
                            <td>Waistcoat</td>
                            <td>Chaleco</td>
                            <td>Curtain</td>
                            <td>Cortina/telon</td>
                            <td>Dear</td>
                            <td>Querido</td>
                        </tr>
                        <tr>
                            <td>Empty</td>
                            <td>Vacio</td>
                            <td>Full</td>
                            <td>Lleno</td>
                            <td>Light</td>
                            <td>Luz</td>
                        </tr>
                        <tr>
                            <td>Promise</td>
                            <td>Promesa</td>
                            <td>Seaside</td>
                            <td>Costa</td>
                            <td>Bargain</td>
                            <td>Ganga</td>
                        </tr>
                        <tr>
                            <td>Branch</td>
                            <td>Rama</td>
                            <td>Charming</td>
                            <td>Encantador</td>
                            <td>Joy</td>
                            <td>Alegria</td>
                        </tr>
                        <tr>
                            <td>Railway</td>
                            <td>Ferrocarril</td>
                            <td>Sad</td>
                            <td>Triste</td>
                            <td>Seed</td>
                            <td>Semilla</td>
                        </tr>
                        <tr>
                            <td>Sight</td>
                            <td>Vista</td>
                            <td>Shot</td>
                            <td>Disparo</td>
                            <td>Tale</td>
                            <td>Relato</td>
                        </tr>
                        <tr>
                            <td>Wounded</td>
                            <td>Herido</td>
                            <td>Baker</td>
                            <td>Panadero</td>
                            <td>Corn</td>
                            <td>Maiz</td>
                        </tr>
                        <tr>
                            <td>Customer</td>
                            <td>Cleinte</td>
                            <td>Doorkeeper</td>
                            <td>Portero</td>
                            <td>Mercy</td>
                            <td>Piedad</td>
                        </tr>
                        <tr>
                            <td>Performer</td>
                            <td>Actor</td>
                            <td>Treason</td>
                            <td>Traicion</td>
                            <td>Parcel</td>
                            <td>Paquete</td>
                        </tr>
                        <tr>
                            <td>Salesgirl</td>
                            <td>Dependienta</td>
                            <td>Salesman</td>
                            <td>Dependiente</td>
                            <td>Defeat</td>
                            <td>Derrota</td>
                        </tr>
                        <tr>
                            <td>Virtue</td>
                            <td>Virtud</td>
                            <td>Anxious</td>
                            <td>Ansioso</td>
                            <td>Golden</td>
                            <td>Dorado</td>
                        </tr>
                        <tr>
                            <td>Hardworking</td>
                            <td>Trabajador (adjetivo)</td>
                            <td>Hunter</td>
                            <td>Cazador</td>
                            <td>Lucky</td>
                            <td>Afortunado</td>
                        </tr>
                        <tr>
                            <td>Nurse</td>
                            <td>Enfermera</td>
                            <td>Quiet</td>
                            <td>Silencio/callado</td>
                            <td>Sorrow</td>
                            <td>Pena</td>
                        </tr>
                        <tr>
                            <td>Crowded</td>
                            <td>Atestado</td>
                            <td>Clothing</td>
                            <td>Ropaje</td>
                            <td>Iron</td>
                            <td>Hierro</td>
                        </tr>
                        <tr>
                            <td>Lofty</td>
                            <td>Elevado</td>
                            <td>Ore</td>
                            <td>Mineral</td>
                            <td>Purchase</td>
                            <td>Compra</td>
                        </tr>
                        <tr>
                            <td>Scarce</td>
                            <td>Escaso</td>
                            <td>Stream</td>
                            <td>Corriente</td>
                            <td>Thirsty</td>
                            <td>Sediento</td>
                        </tr>
                        
                        

                    </tbody>
                </table>
                <a class="waves-effect waves-light btn-large amber darken-2" href='/englishExercises/Vocabulary2' >Vocabulary 2</a>
                <a class="waves-effect waves-light btn-large amber darken-2" href='/englishExercises/Vocabulary4' >Vocabulary 4</a>
                <a class="waves-effect waves-light btn-large amber darken-2" href='/englishExercises' >Return to main page</a> 
            </div>
        </div>
    </body>
</html>
