<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Vocabulary 2</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </head>
    <body class="amber lighten-3">
        <div class="container s4 centered">
			<p class="flow-text">Vocabulary 2</p>
			<div class="container s4 centered">
                <table class="stripped amber lighten-1">
                    <thead>
                        <tr>
                            <th>English</th>
                            <th>Spanish</th>
                            <th>English</th>
                            <th>Spanish</th>
                            <th>English</th>
                            <th>Spanish</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Always</td>
                            <td>Siempre</td>
                            <td>Blackboard</td>
                            <td>Pizarra</td>
                            <td>Brave</td>
                            <td>Valiente</td>
                        </tr>
                        <tr>
                            <td>Busy</td>
                            <td>Ocupado</td>
                            <td>Century</td>
                            <td>Siglo</td>
                            <td>Clever</td>
                            <td>Listo/Inteligente</td>
                        </tr>
                        <tr>
                            <td>Corner</td>
                            <td>Esquina</td>
                            <td>Early</td>
                            <td>Temprano</td>
                            <td>Faithful</td>
                            <td>Fiel</td>
                        </tr>
                        <tr>
                            <td>Grass</td>
                            <td>Hierba</td>
                            <td>Handkerchief</td>
                            <td>Panuelo</td>
                            <td>Street</td>
                            <td>Calle</td>
                        </tr>
                        <tr>
                            <td>Tired</td>
                            <td>Cansado</td>
                            <td>Umbrella</td>
                            <td>Paraguas</td>
                            <td>Well</td>
                            <td>Bien/Pozo</td>
                        </tr>
                        <tr>
                            <td>As well as</td>
                            <td>Asi como</td>
                            <td>Arm</td>
                            <td>Brazo</td>
                            <td>Eyebrows</td>
                            <td>Cejas</td>
                        </tr>
                        <tr>
                            <td>Eyelashes</td>
                            <td>Pestanas</td>
                            <td>Fair hair</td>
                            <td>Pelo rubio</td>
                            <td>Left</td>
                            <td>Izquierda</td>
                        </tr>
                        <tr>
                            <td>Right</td>
                            <td>Derecha</td>
                            <td>Smell</td>
                            <td>Olor</td>
                            <td>Store</td>
                            <td>Almacen</td>
                        </tr>
                        <tr>
                            <td>Taste</td>
                            <td>Gusto/sabor</td>
                            <td>Cheap</td>
                            <td>Barato</td>
                            <td>Cotton</td>
                            <td>Algodon</td>
                        </tr>
                        <tr>
                            <td>Drawer</td>
                            <td>Cajon</td>
                            <td>Expensive</td>
                            <td>Caro</td>
                            <td>Far</td>
                            <td>Lejos</td>
                        </tr>
                        <tr>
                            <td>Gloves</td>
                            <td>Guantes</td>
                            <td>Jewel</td>
                            <td>Joya</td>
                            <td>Necklace</td>
                            <td>Colgante</td>
                        </tr>
                        <tr>
                            <td>Overcoat</td>
                            <td>Abrigo</td>
                            <td>Razor</td>
                            <td>Cuchilla</td>
                            <td>Shop-window</td>
                            <td>Escaparate</td>
                        </tr>
                        <tr>
                            <td>Silk</td>
                            <td>Seda</td>
                            <td>Sock</td>
                            <td>Calcetin</td>
                            <td>Stocking</td>
                            <td>Media</td>
                        </tr>
                        <tr>
                            <td>Tailor</td>
                            <td>Sastre</td>
                            <td>Tissue</td>
                            <td>tejido</td>
                            <td>Wool</td>
                            <td>Lana</td>
                        </tr>
                        <tr>
                            <td>Donkey</td>
                            <td>Burro</td>
                            <td>Goat</td>
                            <td>Cabra</td>
                            <td>Wild</td>
                            <td>Salvaje</td>
                        </tr>
                        <tr>
                            <td>Arrival</td>
                            <td>Llegada</td>
                            <td>Country</td>
                            <td>Pais/campo</td>
                            <td>Supper/Dinner</td>
                            <td>Cena</td>
                        </tr>
                        <tr>
                            <td>Lunch</td>
                            <td>Almuerzo</td>
                            <td>Injury</td>
                            <td>Herida</td>
                            <td>Smoke</td>
                            <td>Humo</td>
                        </tr>
                        <tr>
                            <td>Carpet</td>
                            <td>Alfombra</td>
                            <td>Dessert</td>
                            <td>Postre</td>
                            <td>Fairly</td>
                            <td>Regularmente</td>
                        </tr>
                        <tr>
                            <td>Foreign</td>
                            <td>Extranjero</td>
                            <td>Indeed</td>
                            <td>En efecto</td>
                            <td>Jam</td>
                            <td>Mermelada</td>
                        </tr>
                        
                        

                    </tbody>
                </table>
                <a class="waves-effect waves-light btn-large amber darken-2" href='/englishExercises/Vocabulary1' >Vocabulary 1</a>
                <a class="waves-effect waves-light btn-large amber darken-2" href='/englishExercises/Vocabulary3' >Vocabulary 3</a>
                <a class="waves-effect waves-light btn-large amber darken-2" href='/englishExercises' >Return to main page</a> 
            </div>
        </div>
    </body>
</html>
