<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Vocabulary 5</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </head>
    <body class="amber lighten-3">
        <div class="container s4 centered">
			<p class="flow-text">Vocabulary 5</p>
			<div class="container s4 centered">
                <table class="stripped amber lighten-1">
                    <thead>
                        <tr>
                            <th>English</th>
                            <th>Spanish</th>
                            <th>English</th>
                            <th>Spanish</th>
                            <th>English</th>
                            <th>Spanish</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Kite</td>
                            <td>Cometa</td>
                            <td>Among</td>
                            <td>Entre</td>
                            <td>Chains</td>
                            <td>Cadenas</td>
                        </tr>
                        <tr>
                            <td>Reliable</td>
                            <td>De confianza</td>
                            <td>Besides</td>
                            <td>Ademas</td>
                            <td>Grounded</td>
                            <td>Castigado</td>
                        </tr>
                        <tr>
                            <td>Cautious</td>
                            <td>Cauteloso</td>
                            <td>Cheeky</td>
                            <td>Fresco</td>
                            <td>Choosy</td>
                            <td>Exquisito</td>
                        </tr>
                        <tr>
                            <td>Fussy</td>
                            <td>Exigente</td>
                            <td>Impulsive</td>
                            <td>Impulsivo</td>
                            <td>Lazy</td>
                            <td>Vago</td>
                        </tr>
                        <tr>
                            <td>Mean</td>
                            <td>Tacano/agarrado</td>
                            <td>Organized</td>
                            <td>Organizado</td>
                            <td>Relaxed</td>
                            <td>Relajado</td>
                        </tr>
                        <tr>
                            <td>Sensible</td>
                            <td>Sensato</td>
                            <td>Sensitive</td>
                            <td>Sensible</td>
                            <td>Assignment</td>
                            <td>tarea</td>
                        </tr>
                        <tr>
                            <td>Manager</td>
                            <td>Gerente</td>
                            <td>Owner</td>
                            <td>Propietario</td>
                            <td>Focused</td>
                            <td>Centrado</td>
                        </tr>
                        <tr>
                            <td>Calm</td>
                            <td>Calmado/Calma</td>
                            <td>Critical</td>
                            <td>Critico</td>
                            <td>(in)decisive</td>
                            <td>(no) decisivo</td>
                        </tr>
                        <tr>
                            <td>Determined</td>
                            <td>Determinado</td>
                            <td>(in)efficient)</td>
                            <td>(no) eficiente</td>
                            <td>(un)enthusiatic</td>
                            <td>(no) entusiasta</td>
                        </tr>
                        <tr>
                            <td>(dis)honest</td>
                            <td>(des)honesto</td>
                            <td>(un)imaginative</td>
                            <td>(no) imaginativo</td>
                            <td>(un)motivated</td>
                            <td>(des)motivado</td>
                        </tr>
                        <tr>
                            <td>(dis)obedient</td>
                            <td>(des)obediente</td>
                            <td>(dis)organized</td>
                            <td>(des)organizado</td>
                            <td>(un)punctual</td>
                            <td>(no) puntual</td>
                        </tr>
                        <tr>
                            <td>(un)qualified</td>
                            <td>(no) cualificado</td>
                            <td>(ir)rational</td>
                            <td>(ir)racional</td>
                            <td>(un)reliable</td>
                            <td>(no) de confianza</td>
                        </tr>
                        <tr>
                            <td>(ir)responsible</td>
                            <td>(ir)responsable</td>
                            <td>Smart</td>
                            <td>Inteligente</td>
                            <td>(un)sociable</td>
                            <td>(a)social</td>
                        </tr>
                        <tr>
                            <td>(un)talented</td>
                            <td>(no) con talento</td>
                            <td>(un)trustworthy</td>
                            <td>(no) confiable</td>
                            <td>(in)valuable</td>
                            <td>(in)estimable</td>
                        </tr>
                    </tbody>
                </table>
                <a class="waves-effect waves-light btn-large amber darken-2" href='/englishExercises/Vocabulary4' >Vocabulary 4</a>
                <a class="waves-effect waves-light btn-large amber darken-2" href='/englishExercises/Vocabulary1' >Vocabulary 1</a>
                <a class="waves-effect waves-light btn-large amber darken-2" href='/englishExercises' >Return to main page</a> 
            </div>
        </div>
    </body>
</html>
