<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Vocabulary 1</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </head>
    <body class="amber lighten-3">
        <div class="container s4 centered">
			<p class="flow-text">Vocabulary 1</p>
			<div class="container s4 centered">
                <table class="stripped amber lighten-1">
                    <thead>
                        <tr>
                            <th>English</th>
                            <th>Spanish</th>
                            <th>English</th>
                            <th>Spanish</th>
                            <th>English</th>
                            <th>Spanish</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Beautiful</td>
                            <td>Bello</td>
                            <td>Uncle</td>
                            <td>Tio</td>
                            <td>A thousand</td>
                            <td>Mil</td>
                        </tr>
                        <tr>
                            <td>Ceiling</td>
                            <td>Techo</td>
                            <td>Wall</td>
                            <td>Pared/muro</td>
                            <td>A hundred</td>
                            <td>Cien</td>
                        </tr>
                        <tr>
                            <td>Church</td>
                            <td>Iglesia</td>
                            <td>Weather</td>
                            <td>Tiempo</td>
                            <td>Bill</td>
                            <td>Cuenta/Factura</td>
                        </tr>
                        <tr>
                            <td>Finger</td>
                            <td>Dedo</td>
                            <td>Week</td>
                            <td>Semana</td>
                            <td>Bread</td>
                            <td>Pan</td>
                        </tr>
                        <tr>
                            <td>Floor</td>
                            <td>Suelo</td>
                            <td>Aunt</td>
                            <td>Tia</td>
                            <td>Butter</td>
                            <td>Mantequilla</td>
                        </tr>
                        <tr>
                            <td>Fool</td>
                            <td>Tonto/Loco</td>
                            <td>Behind</td>
                            <td>Detras de</td>
                            <td>Dirty</td>
                            <td>Sucio</td>
                        </tr>
                        <tr>
                            <td>Here</td>
                            <td>Aqui</td>
                            <td>Daughter</td>
                            <td>Hija</td>
                            <td>Fork</td>
                            <td>Tenedor</td>
                        </tr>
                        <tr>
                            <td>Ink</td>
                            <td>Tinta</td>
                            <td>Dish</td>
                            <td>Plato</td>
                            <td>Fox</td>
                            <td>Zorro</td>
                        </tr>
                        <tr>
                            <td>Kindness</td>
                            <td>Amabilidad</td>
                            <td>Female</td>
                            <td>Hembra</td>
                            <td>Handsome</td>
                            <td>Hermoso</td>
                        </tr>
                        <tr>
                            <td>Market</td>
                            <td>Mercado</td>
                            <td>Husband</td>
                            <td>Marido</td>
                            <td>Key</td>
                            <td>Llave</td>
                        </tr>
                        <tr>
                            <td>Nice</td>
                            <td>Agradable/bonito</td>
                            <td>Male</td>
                            <td>Macho</td>
                            <td>Knife</td>
                            <td>Cuchillo</td>
                        </tr>
                        <tr>
                            <td>On</td>
                            <td>Encima de/sobre de</td>
                            <td>Nephew</td>
                            <td>Sobrino</td>
                            <td>Large</td>
                            <td>Grande</td>
                        </tr>
                        <tr>
                            <td>Sky</td>
                            <td>Cielo</td>
                            <td>Niece</td>
                            <td>Sobrina</td>
                            <td>Omelette</td>
                            <td>Tortilla</td>
                        </tr>
                        <tr>
                            <td>Sweet</td>
                            <td>Dulce</td>
                            <td>Relative</td>
                            <td>Pariente/Familiar</td>
                            <td>Pepper</td>
                            <td>Pimienta</td>
                        </tr>
                        <tr>
                            <td>That</td>
                            <td>Ese/aquel</td>
                            <td>Tobacco</td>
                            <td>Tabaco</td>
                            <td>Proud</td>
                            <td>Orgulloso</td>
                        </tr>
                        <tr>
                            <td>Those</td>
                            <td>Esos/aquellos</td>
                            <td>Watch</td>
                            <td>Reloj (de pulsera)</td>
                            <td>Spooon</td>
                            <td>Cuchara</td>
                        </tr>
                        <tr>
                            <td>There</td>
                            <td>Alli</td>
                            <td>Widow</td>
                            <td>Viuda</td>
                            <td>Steak</td>
                            <td>Filete</td>
                        </tr>
                        <tr>
                            <td>This</td>
                            <td>Este</td>
                            <td>Widower</td>
                            <td>Viudo</td>
                            <td>Tablecloth</td>
                            <td>Mantel</td>
                        </tr>
                        <tr>
                            <td>These</td>
                            <td>Estos</td>
                            <td>Wife</td>
                            <td>Esposa</td>
                            <td>Tray</td>
                            <td>Bandeja</td>
                        </tr>
                        
                        

                    </tbody>
                </table>
                <a class="waves-effect waves-light btn-large amber darken-2" href='/englishExercises/Vocabulary5' >Vocabulary 5</a>
                <a class="waves-effect waves-light btn-large amber darken-2" href='/englishExercises/Vocabulary2' >Vocabulary 2</a>
                <a class="waves-effect waves-light btn-large amber darken-2" href='/englishExercises' >Return to main page</a> 
            </div>
        </div>
    </body>
</html>
