<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Vocabulary 4</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </head>
    <body class="amber lighten-3">
        <div class="container s4 centered">
			<p class="flow-text">Vocabulary 4</p>
			<div class="container s4 centered">
                <table class="stripped amber lighten-1">
                    <thead>
                        <tr>
                            <th>English</th>
                            <th>Spanish</th>
                            <th>English</th>
                            <th>Spanish</th>
                            <th>English</th>
                            <th>Spanish</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Tin</td>
                            <td>Lata/Estano</td>
                            <td>War</td>
                            <td>Guerra</td>
                            <td>Abroad</td>
                            <td>En el extranjero</td>
                        </tr>
                        <tr>
                            <td>Delightful</td>
                            <td>Delicioso</td>
                            <td>Kind</td>
                            <td>Clase/especie</td>
                            <td>Overseas</td>
                            <td>Ultramar</td>
                        </tr>
                        <tr>
                            <td>Raw</td>
                            <td>En bruto/crudo</td>
                            <td>Road</td>
                            <td>Carretera</td>
                            <td>With</td>
                            <td>Con</td>
                        </tr>
                        <tr>
                            <td>Without</td>
                            <td>Sin</td>
                            <td>Sweat</td>
                            <td>Sudor</td>
                            <td>Wise</td>
                            <td>Sabio</td>
                        </tr>
                        <tr>
                            <td>Wide</td>
                            <td>Ancho</td>
                            <td>Underwear</td>
                            <td>Ropa interior</td>
                            <td>Concrete</td>
                            <td>Hormigon</td>
                        </tr>
                        <tr>
                            <td>Saucepan</td>
                            <td>Olla</td>
                            <td>Frying pan</td>
                            <td>Sarten</td>
                            <td>Stick</td>
                            <td>Palo</td>
                        </tr>
                        <tr>
                            <td>Salt-cellar</td>
                            <td>Salero</td>
                            <td>Slippers</td>
                            <td>Zapatillas</td>
                            <td>Sight</td>
                            <td>Vista</td>
                        </tr>
                        <tr>
                            <td>Root</td>
                            <td>Raiz</td>
                            <td>Turnip</td>
                            <td>Nabo</td>
                            <td>Grape</td>
                            <td>Uva</td>
                        </tr>
                        <tr>
                            <td>Cucumber</td>
                            <td>Pepino</td>
                            <td>Garlic</td>
                            <td>Ajo</td>
                            <td>Cabbage</td>
                            <td>Repollo</td>
                        </tr>
                        <tr>
                            <td>Fortnight</td>
                            <td>Quincena</td>
                            <td>Schoolmate</td>
                            <td>Companero de clase</td>
                            <td>Corridor</td>
                            <td>Pasillo</td>
                        </tr>
                        <tr>
                            <td>Ward</td>
                            <td>Sala</td>
                            <td>Sick</td>
                            <td>Enfermo</td>
                            <td>Lizzard</td>
                            <td>Lagartija</td>
                        </tr>
                        <tr>
                            <td>Warlock</td>
                            <td>Brujo</td>
                            <td>Keychain</td>
                            <td>LLavero</td>
                            <td>Priest</td>
                            <td>Sacerdote</td>
                        </tr>
                        <tr>
                            <td>Grocery</td>
                            <td>Ultramarinos</td>
                            <td>Pot</td>
                            <td>Bote</td>
                            <td>Butchery</td>
                            <td>Carniceria</td>
                        </tr>
                        <tr>
                            <td>Chemistry</td>
                            <td>Farmacia</td>
                            <td>Stationery</td>
                            <td>Papeleria</td>
                            <td>Book shop</td>
                            <td>Libreria</td>
                        </tr>
                        <tr>
                            <td>Library</td>
                            <td>Biblioteca</td>
                            <td>Luggage</td>
                            <td>Equipaje</td>
                            <td>Boot/Trunk</td>
                            <td>Maletero</td>
                        </tr>
                        <tr>
                            <td>Hood</td>
                            <td>Capo de coche</td>
                            <td>Neighborhood</td>
                            <td>Barrio</td>
                            <td>Rack</td>
                            <td>Rejilla</td>
                        </tr>
                        <tr>
                            <td>Whistle</td>
                            <td>Silbato/Silbar</td>
                            <td>Deer</td>
                            <td>Ciervo</td>
                            <td>Seal</td>
                            <td>Foca</td>
                        </tr>
                        <tr>
                            <td>Parrot</td>
                            <td>Loro</td>
                            <td>Compain</td>
                            <td>Queja/Quejarse</td>
                            <td>Keen</td>
                            <td>Entusiasta</td>
                        </tr>
                        <tr>
                            <td>Wrap</td>
                            <td>Envolver</td>
                            <td>Willingness</td>
                            <td>Disposicion</td>
                            <td>Shape</td>
                            <td>Forma/Figura</td>
                        </tr>
                    </tbody>
                </table>
                <a class="waves-effect waves-light btn-large amber darken-2" href='/englishExercises/Vocabulary3' >Vocabulary 3</a>
                <a class="waves-effect waves-light btn-large amber darken-2" href='/englishExercises/Vocabulary5' >Vocabulary 5</a>
                <a class="waves-effect waves-light btn-large amber darken-2" href='/englishExercises' >Return to main page</a> 
            </div>
        </div>
    </body>
</html>
